langchain
langchain-community
langchain-text-splitters
langchain-openai
faiss-cpu
langchainhub
beautifulsoup4
tiktoken
python-dotenv
numpy
pypdf
docx2txt
langchain-experimental
rank-bm25
flashrank
langgraph
scikit-learn
langchain-cohere
duckduckgo-search
langsmith
